.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  background-color: #fff;
}

.fediap {
  width: 80vw;
  max-width: 450px;
  height: auto;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.fediap:hover {
  transform: scale(1.02);
}

.info-section .text {
  max-width: 800px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  text-align: center;
  text-wrap: balance;
}

@media (min-width: 768px) {
  .info-section .text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .info-section {
    padding: 80px 20px;
  }

  .fediap {
    width: 35vw;
  }

  .info-section .text {
    line-height: 2;
  }
}
