.guardapampa-section {
  width: 100%;
}

.guardapampa-section .guardapampa-entera {
  width: 100%;
  display: none;
}

.guardapampa-section .guardapampa-mediana {
  width: 100%;
}

@media (min-width: 1024px) {
  .guardapampa-section .guardapampa-mediana {
    display: none;
  }
  .guardapampa-section .guardapampa-entera {
    display: block;
  }
}
