.speakers-section {
  width: 100%;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.speakers-title {
  font-size: var(--fs-400);
  font-weight: 600;
  margin-bottom: 1vh;
  color: black;
}

.speakers-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
}

.speakers-card {
  width: 90%;
  background: lightgray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.foto-placeholder {
  width: 100%;
  height: 200px;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-placeholder i {
  font-size: 40px;
  color: var(--primary--clr); 
}

.speakers-card h3 {
  padding-bottom: 2%;
  font-size: var(--fs-200);
  margin-bottom: 5px;
  width: 70%;
  border-bottom: 1px solid black;  ;
}

.speakers-card p {
  font-size: var(--fs-100);
  color: black;
}
