.hero-section {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 20%;
  padding-bottom: 5%;
  padding-inline: 4%;
  font-size: 16px;
  z-index: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:before {
    background-image: url("@/assets/images/Foto1.webp");
    background-size: cover;
    background-position: center;
    z-index: -2;
  }
  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 900px;
}

.inscripcion-button {
  background-color: var(--primary--clr);
  border: 2px solid var(--primary--clr);
  border-radius: 10px;
  max-width: 500px;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: var(--fs-200);
  font-weight: 600;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: var(--primary--clr-o);
    border: 2px solid var(--primary--clr-o);
  }
}

.inscripcion-button:active {
  background-color: var(-secondary--clr);
  border-color: var(--secondary--clr);
  transform: scale(1.05);
}

.hero-info {
  font-size: var(--fs-200);
}

@media (min-width: 768px) {
  .hero-title {
    font-size: var(--fs-600);
  }

  .hero-info {
    font-size: var(--fs-500);
  }
  .inscripcion-button {
    font-size: var(--fs-300);
  }
}

@media (min-width: 1024px){
  .hero-section{
    padding-top: 10%;
  }

  .inscripcion-button{
    padding: 10px;
  }
}
