.gratitude-section {
  width: 100%;
  padding: 0 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: var(--fs-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-content {
  padding: 15px;
}

.menu-content li {
  padding: 15px;
  display: inline-block;
}

@media (min-width:768px){
  .menu-btn{
    font-size: var(--fs-400);
  }
}