.companie-section {
  position: relative;
  width: 100%;
  padding: 40px 10px;
  text-align: center;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
  }

  &:before {
    background-image: url("/src/assets/images/Foto1.jpg");
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.companie-title {
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companie-card {
  width: 100%;
  margin: 5% 0;
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
}

.container-becas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.precio {
  color: white;
  background-color: var(--primary--clr);
  width: 100%;
  padding: 2% 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-100);

  &:hover,
  &:focus {
    background-color: var(--primary--clr-o);
  }
}

@media (min-width: 768px) {
  .precio {
    font-size: var(--fs-300);
  }
  .companie-card {
    width: 80%;
  }
}
