.areas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.areas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.areas-container .tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  flex: 1;
}

.icon-container {
  background: var(--primary--clr);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-title {
  font-size: var(--fs-300);
  color: var(--primary--clr);
  margin: 1% 0;
}

.icon-container .icon {
  width: 70px;
  height: 70px;
  color: white;
}

@media (min-width: 768px) {
  .icon-container {
    width: 150px;
    height: 150px;

    .icon {
      width: 100px;
      height: 100px;
      color: white;
    }
  }

  .secondary-title{
    font-size: var(--fs-500);
  }
}
