.areas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.areas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1100px;
  margin-top: 30px;
}

.area-tarjeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  transition: transform 0.3s ease;
}

.icon-circle {
  background-color: var(--primary--clr);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.area-icon {
  width: 50px;
  height: 50px;
  color: white;
}

.secondary-title {
  font-size: var(--fs-200);
  color: var(--primary--clr);
  margin-bottom: 12px;
  font-weight: 700;
  text-wrap: balance;
}

.area-tarjeta:hover {
  transform: translateY(-5px);
}

.area-tarjeta:hover .icon-circle {
  transform: scale(1.1);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .areas-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .secondary-title {
    font-size: var(--fs-300);
  }

  .icon-circle {
    width: 120px;
    height: 120px;
  }

  .area-icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .areas-container {
    gap: 40px;
  }

  .icon-circle {
    width: 140px;
    height: 140px;
  }

  .area-icon {
    width: 70px;
    height: 70px;
  }

  .secondary-title {
    font-size: var(--fs-400);
  }
}
