.companie-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-100);
  color: var(--primary--clr);
}

.toggle-icon {
  font-size: 28px;
}

.companie-content {
  overflow: hidden;
  transition: max-height 600ms ease, opacity 400ms ease;
  opacity: 0;
}

.companie-card.open .companie-content {
  opacity: 1;
  margin-top: 10px;
}

.companie-text {
  color: var(--text-clr-o);
  margin-bottom: 12px;
  line-height: 1.4;
}

@media (min-width:768px){
  .companie-toggle{
    font-size: var(--fs-400);
  }
  .companie-text {
  font-size: var(--fs-300);
}
}
