.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 3%;

  h2 {
    position: relative;
    text-align: center;
    font-size: var(--fs-400);
    padding-bottom: 4%;
  }
}

.areas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    gap: 10px;
    flex: 1;

    .titulos {
      color: var(--primary--clr);
      font-size: var(--fs-300);
      padding: 0;
    }

    p {
      font-size: var(--fs-200);
      max-width: 600px;
    }
  }
}

.icon-container {
  background: var(--primary--clr);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 70px;
    height: 70px;
    color: white;
  }
}
