.agradecimientos {
  width: 100%;
  padding: 0 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2.titleAg {
    font-size: var(--fs-400);
    margin-bottom: 10px;
  }
}

.menu-btn {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: var(--fs-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn:hover {
  background: #e9e9e9;
}

.menu-content {
  padding: 15px;
}

.menu-content li {
  padding: 15px;
  display: inline-block;
}
